@import "roboto.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --grey: #a4a4a4;
    --blue: #2a72c5;
    --radius: 13px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
}

.wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.card {
    width: 100%;
    max-width: 350px;
    min-height: 100px;
    padding: 7px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.47);
    border-radius: var(--radius);
}

.card-head h4 {
    font-size: 14px;
    font-weight: 500;
}

.card-subtitle {
    margin-top: 2px;
    font-size: 12px;
    font-weight: 400;
    color: var(--grey);
}

.card-body {
    margin: 10px 0;
}

.card-body p {
    font-size: 10px;
    color: var(--grey);
}

.card-actions button {
    font-size: 12px !important;
    color: var(--blue);
}

.card-actions button + button {
    margin-left: 10px;
}

@media (max-width: 650px) {
    .card {
        width: 90%;
    }
}
