/* Импорт шрифтов, css файлов и ссылкок css */
@import "roboto.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* задаём глобальные переменные
    --навзание: значение;
*/

:root {
    --grey: #a4a4a4;
    --blue: #2a72c5;
    --radius: 13px;
}


/*
    * - обращение ко всем html элементам
    ::before - псевдоэлемент, перед элементом
    ::after - псевдоэлемент, после элемента
*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    border: none; /* внутренняя граница */
    outline: none; /* внешняя граница */
    background: transparent; /* transparent - прозрачный */
}

/* блок, на весь экран, выравнивающий элементы внутри по центру */
.wrapper {
    display: flex;
    height: 100vh;
    /* vw - растягивание по всей длине относительно окна, применяется для width */
    /* vh - растягивание по всей высоте относительно окна, применяется для height */
    align-items: center; /* выравнивание по оси y */
    justify-content: center;  /* выравнивание по оси x */
}

/* margin - внешний отступ */
/* padding - внутренний отступ */

/* margin/padding: принимают значения в 4 видах, рассмотрим на примере padding

    padding: 10px; - покругу внутри элемента будут отступы по 10px;

    padding: 10px 5px; - первая цифра - отступы сверху и снизу - 10px; вторая цифра - отступы слева и справа по 5px;

    padding: 5px 10px 15px; - первая цифра - отступ сверху - 5px; вторая отступ снизу 10px; третья - отступ слева и спава 10px;

    padding: 5px 10px 15px 20px - значение по часовой стрелке, начиная сверху 5px, справа 10px, внизу 15px; слева 20px;
 */

.card {
    width: 100%;
    max-width: 350px;
    min-height: 100px;
    padding: 7px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.47);
    border-radius: var(--radius);  /* закругление углов */
    /* var(--переменная) - обращение к переменной из :root */
}

.card-head h4 {
    /* работа с текстом */
    font-size: 14px; /* font-size - размер шрифта 14px */
    font-weight: 500; /* font-weight - толщина шрифта 500 (диапазон от 100 до 900), где 100 - самый тонкий, 900 самый толстый (см. значение в выбранном шрифте) */
}

/* у margin/padding есть приписки
    -top - сверху
    -left - слева
    -right - справа
    -bottom - снизу
    -block - по оси y
    -inline - по оси x
 */

.card-subtitle {
    margin-top: 2px;
    font-size: 12px;
    font-weight: 400;
    color: var(--grey);
}

.card-body {
    margin: 10px 0;
}

.card-body p {
    font-size: 10px;
    color: var(--grey);
}


/* здесь обращаемся ко всем кнопкам, внутри элемента с классом card-actions */
.card-actions button {
    font-size: 12px !important; /* !important - супер важное свойство (если есть какое то другое свойтво, оно его перекрывает) */
    color: var(--blue);
}

/* здесь мы обращаемся ко всем кнопкам идущим подряд, внутри элемента с классои card-actions, свойства применяются со второго элемента */
.card-actions button + button {
    margin-left: 10px;
}

/* медиа запрос, отработка которого срабатывает при ширине окна >= (больше или равно) 650px */
@media (max-width: 650px) {
    .card {
        width: 90%;
    }
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    padding: 30px;
    cursor: pointer;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__main {
    position: relative;
    max-width: 600px;
    background-color: azure;
    margin: auto;
    color: #000;
    border-radius: 3px;
    padding: 50px;
    cursor: default;
}

.modal__title {
    margin-bottom: 30px;
}

.modal__close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    top: 5px;
    right: 5px;
    outline: 1px solid transparent;
    outline-offset: 3px;
    transition: outline-color .15s ease-in-out;
    padding: 0;
    text-align: center;
    display: block;
    width: 30px;
    height: 30px;
}

.modal__close:focus-visible {
    outline-color: green;
}
